.test-im {
  display: flex;
  min-height: 100vh;
  background-image: linear-gradient(#1db954eb, #1db954, Black);
}

.artists-content {
  margin: auto;
  border-radius: 10px;
  background-color: white;
  font-family: NotoSansKRMedium;
}

.profile-cover {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

li {
  display: block;
}
