@font-face {
  font-family: "NotoSansKRMedium";
  src: url("./fonts/NotoSansKR-Medium.otf") format("opentype");
}

body {
  margin: 0;
  padding: 0;
  font-family: NotoSansKRMedium;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
